<footer style="background-color: #263238;" class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 ">
        <h5 class="white-text">You've reached the end!</h5>
        <p class="grey-text text-lighten-4">Contact: junepudasaini@gmail.com</p>
      </div>
      <div class="col l4 offset-l2 s12 ">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UCIHaN_lWOntk0KxlgF2G-2w">YouTube</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/june-pudasaini-14a0191b9/">LinkedIn</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/Junepudasaini">GitHub</a></li>
          <li><a class="grey-text text-lighten-3" href="/">Email</a></li>
        </ul>
      </div>
    </div>
  </div>
    <div class="footer-copyright">
      <div class="container">
        © 2021 Jununix
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>